.cartItemRow {
    transition: background-color 0.3s ease;
  }
  
  .cartItemRow:hover {
    background-color: var(--button-hover);
  }
  
  .tdCell {
    padding: 10px 15px;
    vertical-align: middle;
    color: var(--text-color);
  }
  
  .bookImage {
    width: 50px;
    height: auto;
    border-radius: 8px;
  }
  
  .dateInput {
    padding: 6px 8px;
    border: 1px solid var(--accent);
    border-radius: 5px;
    background-color: var(--input-bg);
    color: var(--text-color);
  }
  
  .reserveButton {
    background-color: var(--accent);
    color: var(--bg-color);
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reserveButton:hover {
    background-color: var(--button-hover);
  }
  
  .removeButton {
    background-color: var(--button-hover);
    color: var(--button-text);
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .removeButton:hover {
    background-color: var(--accent);
  }
  
  .statusText {
    font-weight: bold;
    color: var(--accent);
  }
  
  .statusTextNotAvailable {
    font-weight: bold;
    color: var(--button-hover);
  }
  
  .availableDate {
    color: var(--text-color);
  }
  